__pycache__/
data/
test/
experiments/
 *.so

build/
wheels/
.env
env/
venv/
.venv
ENV/
env.bak/
venv.bak/
dist/
downloads/
pip-wheel-metadata/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
*egg-info/
*.egg


pip-log.txt
pip-delete-this-directory.txt


.ipynb_checkpoints

ipython_config.py

.python-version

__pypackages__/


